html, body
  margin: 0
  padding: 0
  line-height: 1
  font-family: 'Avenir', Helvetica, Arial, sans-serif
  /* retina屏幕抗锯齿 */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  /* 用户不能选中文本 */
  user-select: none
  /* 字体大小限制 */
  text-size-adjust: 100%
  /* 点击无响应背景 */
  -webkit-tap-highlight-color: rgba(0,0,0,0)
  tap-highlight-color: rgba(0,0,0,0)
  /* 增加该属性，可以增加弹性 */
  -webkit-overflow-scrolling: touch
  overflow-scrolling: touch
  height: 100vh

a
  text-decoration: none

ul, li
  padding: 0
  margin: 0
  list-style: none

.app
  background: #4A4A4A
  height: 100%
  display: flex
  flex-flow: column nowrap

.main
  flex: auto
  display: flex

.root
  flex: 0 0 28px
  padding: 2px 20px
  box-sizing: border-box
  > span
    margin: 0 0 0 10px
    color: #9B9B9B
    font-size: 12px
    vertical-align: middle

.tree
  flex: 0 0 240px
  
.file
  flex: auto

.detail
  flex: 0 0 280px
