.detail
  height: 100%
  display: flex
  flex-flow: column nowrap
  background: #3F3F3F
  box-sizing: border-box
  padding: 30px 20px

.stars
  flex: 0 0 26px
  margin: 20px 0 0

.tags
  flex: 0 0 206px
  margin: 20px 0 0

.form
  $borderColor: #F5A623
  flex: 1 1 auto
  input[type="text"],
  textarea
    box-sizing: border-box
    width: 100%
    outline: none
    border: solid 1px #4A4A4A
    background: #4A4A4A
    font-size: 14px
    color: #FFFFFF
    border-radius: 5px
    padding: 10px 10px
    resize: none
    &:focus
      border: solid 1px $borderColor
      box-shadow: 0 0 8px $borderColor
  button
    outline: none
    border: none
    background: $borderColor
    color: #FFF
    font-size: 16px
    height: 40px
    width: 100%
    box-sizing: border-box
    margin: 20px 0 0
    border-radius: 5px
    &:hover
      background: lighten($borderColor, 10%)
    &:active
      background: darken($borderColor, 10%)

.name
  color: #FFF
  font-size: 14px
  font-weight: bold

.actress,
.comment
  > label
    font-size: 14px
    color: #E7E7E7
    display: block
    padding: 20px 0 10px
