.detail
  height: 100%
  display: flex
  flex-flow: column nowrap
  background: #3F3F3F
  box-sizing: border-box
  padding: 30px 20px

.path
  font-size: 12px
  color: #9B9B9B
  padding: 5px 0
  display: flex
  align-items: center
  flex-flow: row nowrap
  > div
    width: 240px-36-36
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
  button
    $bgColor: #3F3F3F
    margin-left: 10px
    border-radius: 5px
    background: $bgColor
    outline: none
    border: none
    &:hover
      background: lighten($bgColor, 10%)
    &:active
      background: darken($bgColor, 10%)

.stars
  flex: 0 0 26px
  margin: 20px 0 0

.tags
  flex: 0 0 170px
  margin: 20px 0 0
  overflow: auto

.form
  $borderColor: #F5A623
  flex: 1 1 auto
  input[type="text"],
  textarea
    box-sizing: border-box
    width: 100%
    outline: none
    border: solid 1px #4A4A4A
    background: #4A4A4A
    font-size: 14px
    color: #FFFFFF
    border-radius: 5px
    padding: 10px 10px
    resize: none
    &:focus
      border: solid 1px $borderColor
      box-shadow: 0 0 8px $borderColor
  button
    outline: none
    border: none
    background: $borderColor
    color: #FFF
    font-size: 16px
    height: 40px
    width: 100%
    box-sizing: border-box
    margin: 20px 0 0
    border-radius: 5px
    > i
      margin: 0 10px 0 0
    &:hover
      background: lighten($borderColor, 10%)
    &:active
      background: darken($borderColor, 10%)

.name
  color: #FFF
  font-size: 14px
  font-weight: bold

.actress,
.comment
  > label
    font-size: 14px
    color: #E7E7E7
    display: block
    padding: 20px 0 10px
