.explorer
  padding: 30px 20px
  box-sizing: border-box
  height: 100%
  display: flex
  flex-flow: column nowrap

.tags
  flex: 0 1 180px

.container
  flex: 1 1 auto
  display: flex
  justify-content: flex-start
  align-content: flex-start
  flex-wrap: wrap
  overflow: auto

.file
  width: 100px
  padding: 10px
  &.focus
    $focusColor: #F5A623
    .preview
      border: solid 1px $focusColor
      box-shadow: 0 0 8px $focusColor
    .name
      color: $focusColor
      font-weight: bold

.preview
  height: 70px
  position: relative
  border: solid 1px Transparent
  border-radius: 5px
  overflow: hidden
  img
    position: absolute
    width: 100%
    top: 50%
    transform: translateY(-50%)
  i
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)

.name
  font-size: 12px
  color: #E7E7E7
  text-align: center
  padding: 10px 0

@mixin setup-control($url)
  background: url($url) no-repeat
  background-size: 100% 100%
  display: block
  width: 22px
  height: 22px
  position: absolute
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)
  
.play
  @include setup-control('../assets/icons/icon-video-file.png')

.pause
  @include setup-control('../assets/icons/icon-pause.png')
