.tree
  height: 100%
  display: flex
  flex-flow: column nowrap
  background: #3F3F3F

.logo
  $size: 110px
  flex: 0 0 $size
  line-height: $size

.container
  flex: 1 1 auto
  padding: 30px 20px
  box-sizing: border-box
  overflow: auto

.expand
  position: absolute

.name
  font-size: 14px
  color: #9B9B9B
  vertical-align: middle
  margin: 0 0 0 10px
  position: relative
  &.focus
    color: #E7E7E7

.node
  cursor: pointer
  > span
    position: relative
    top: 2px
  > .node
    padding: 5px 0 5px 24px
